@{ ViewData["Title"] = "Home"; }
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Glen eden Online Shop</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Products</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">HOT Selling</h3>
        @*@await Component.InvokeAsync("TopProduct", new { count = 3 })*@
        @*@await Component.InvokeAsync("TopProducts")*@

        @*<vc:top-products></vc:top-products>*@
        <div class="row">
            <div class="col-md-4">
                <partial name="_productThumbnail" model="new ProductModel()" />
            </div>
            <div class="col-md-4">
                <partial name="_productThumbnail" model="new ProductModel()" />
            </div>
            <div class="col-md-4">
                <partial name="_productThumbnail" model="new ProductModel()" />
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        $(document).ready(function () {
            //alert("document is ready");
        })
    </script>
}
